Problem Statement

Predicting Survival in the Titanic Data Set
We will be using a decision tree to make predictions about the Titanic data set from
Kaggle. This data set provides information on the Titanic passengers and can be used to
predict whether a passenger survived or not.

In [126]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report

In [127]:
url="https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv"

In [128]:
titanic = pd.read_csv(url)

In [129]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [130]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [131]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [132]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [133]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [134]:
titanic.fillna(targets.mean())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [135]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [136]:
dummy_df = pd.get_dummies(titanic, columns=['Sex'])
dummy_df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,0,1

In [137]:
#features and target
predictors=dummy_df[['Pclass', 'Sex_female', 'Sex_male', 'Age', 'SibSp' , 'Parch', 'Fare']]
targets=titanic[['Survived']]

In [138]:
age_mean = predictors.Age.mean()

In [139]:
predictors.fillna(age_mean, inplace=True)

/Users/swetha/anaconda2/envs/python35/lib/python3.5/site-packages/pandas/core/frame.py:3787: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [140]:
predictors.Age

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
5      29.699118
6      54.000000
7       2.000000
8      27.000000
9      14.000000
10      4.000000
11     58.000000
12     20.000000
13     39.000000
14     14.000000
15     55.000000
16      2.000000
17     29.699118
18     31.000000
19     29.699118
20     35.000000
21     34.000000
22     15.000000
23     28.000000
24      8.000000
25     38.000000
26     29.699118
27     19.000000
28     29.699118
29     29.699118
         ...
861    21.000000
862    48.000000
863    29.699118
864    24.000000
865    42.000000
866    27.000000
867    31.000000
868    29.699118
869     4.000000
870    26.000000
871    47.000000
872    33.000000
873    47.000000
874    28.000000
875    15.000000
876    20.000000
877    19.000000
878    29.699118
879    56.000000
880    25.000000
881    33.000000
882    22.000000
883    28.000000
884    25.000000
885    39.000000
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [141]:
predictors.isnull().sum()

Pclass        0
Sex_female    0
Sex_male      0
Age           0
SibSp         0
Parch         0
Fare          0
dtype: int64

In [142]:
#%%Split into training and testing sets
from sklearn.cross_validation import train_test_split
pred_train, pred_test, tar_train, tar_test = train_test_split(predictors, targets, test_size=0.4)

In [143]:
print(pred_train.shape)
print(pred_test.shape)
print(tar_train.shape)
print(tar_test.shape)

(534, 7)
(357, 7)
(534, 1)
(357, 1)

In [144]:
pred_train

     Pclass  Sex_female  Sex_male        Age  SibSp  Parch      Fare
540       1           1         0  36.000000      0      2   71.0000
640       3           0         1  20.000000      0      0    7.8542
11        1           1         0  58.000000      0      0   26.5500
492       1           0         1  55.000000      0      0   30.5000
79        3           1         0  30.000000      0      0   12.4750
368       3           1         0  29.699118      0      0    7.7500
642       3           1         0   2.000000      3      2   27.9000
500       3           0         1  17.000000      0      0    8.6625
586       2           0         1  47.000000      0      0   15.0000
690       1           0         1  31.000000      1      0   57.0000
877       3           0         1  19.000000      0      0    7.8958
19        3           1         0  29.699118      0      0    7.2250
660       1           0         1  50.000000      2      0  133.6500
756       3           0         1  28.000000      0      0    7.7958
86        3           0         1  16.000000      1      3   34.3750
857       1           0         1  51.000000      0      0   26.5500
163       3           0         1  17.000000      0      0    8.6625
447       1           0         1  34.000000      0      0   26.5500
326       3           0         1  61.000000      0      0    6.2375
539       1           1         0  22.000000      0      2   49.5000
841       2           0         1  16.000000      0      0   10.5000
314       2           0         1  43.000000      1      1   26.2500
404       3           1         0  20.000000      0      0    8.6625
223       3           0         1  29.699118      0      0    7.8958
245       1           0         1  44.000000      2      0   90.0000
803       3           0         1   0.420000      0      1    8.5167
127       3           0         1  24.000000      0      0    7.1417
385       2           0         1  18.000000      0      0   73.5000
430       1           0         1  28.000000      0      0   26.5500
421       3           0         1  21.000000      0      0    7.7333
..      ...         ...       ...        ...    ...    ...       ...
26        3           0         1  29.699118      0      0    7.2250
647       1           0         1  56.000000      0      0   35.5000
361       2           0         1  29.000000      1      0   27.7208
108       3           0         1  38.000000      0      0    7.8958
806       1           0         1  39.000000      0      0    0.0000
469       3           1         0   0.750000      2      1   19.2583
801       2           1         0  31.000000      1      1   26.2500
395       3           0         1  22.000000      0      0    7.7958
30        1           0         1  40.000000      0      0   27.7208
406       3           0         1  51.000000      0      0    7.7500
379       3           0         1  19.000000      0      0    7.7750
393       1           1         0  23.000000      1      0  113.2750
599       1           0         1  49.000000      1      0   56.9292
124       1           0         1  54.000000      0      1   77.2875
323       2           1         0  22.000000      1      1   29.0000
466       2           0         1  29.699118      0      0    0.0000
793       1           0         1  29.699118      0      0   30.6958
441       3           0         1  20.000000      0      0    9.5000
346       2           1         0  40.000000      0      0   13.0000
294       3           0         1  24.000000      0      0    7.8958
400       3           0         1  39.000000      0      0    7.9250
222       3           0         1  51.000000      0      0    8.0500
570       2           0         1  62.000000      0      0   10.5000
687       3           0         1  19.000000      0      0   10.1708
566       3           0         1  19.000000      0      0    7.8958
530       2           1         0   2.000000      1      1   26.0000
5         3           0         1  29.699118      0      0    8.4583
527       1           0         1  29.699118      0      0  221.7792
171       3           0         1   4.000000      4      1   29.1250
789       1           0         1  46.000000      0      0   79.2000

[534 rows x 7 columns]

In [145]:
pred_test

     Pclass  Sex_female  Sex_male        Age  SibSp  Parch      Fare
889       1           0         1  26.000000      0      0   30.0000
507       1           0         1  29.699118      0      0   26.5500
184       3           1         0   4.000000      0      2   22.0250
826       3           0         1  29.699118      0      0   56.4958
250       3           0         1  29.699118      0      0    7.2500
76        3           0         1  29.699118      0      0    7.8958
81        3           0         1  29.000000      0      0    9.5000
242       2           0         1  29.000000      0      0   10.5000
324       3           0         1  29.699118      8      2   69.5500
831       2           0         1   0.830000      1      1   18.7500
572       1           0         1  36.000000      0      0   26.3875
686       3           0         1  14.000000      4      1   39.6875
651       2           1         0  18.000000      0      1   23.0000
1         1           1         0  38.000000      1      0   71.2833
595       3           0         1  36.000000      1      1   24.1500
17        2           0         1  29.699118      0      0   13.0000
443       2           1         0  28.000000      0      0   13.0000
232       2           0         1  59.000000      0      0   13.5000
543       2           0         1  32.000000      1      0   26.0000
633       1           0         1  29.699118      0      0    0.0000
27        1           0         1  19.000000      3      2  263.0000
420       3           0         1  29.699118      0      0    7.8958
262       1           0         1  52.000000      1      1   79.6500
762       3           0         1  20.000000      0      0    7.2292
283       3           0         1  19.000000      0      0    8.0500
534       3           1         0  30.000000      0      0    8.6625
692       3           0         1  29.699118      0      0   56.4958
838       3           0         1  32.000000      0      0   56.4958
410       3           0         1  29.699118      0      0    7.8958
359       3           1         0  29.699118      0      0    7.8792
..      ...         ...       ...        ...    ...    ...       ...
123       2           1         0  32.500000      0      0   13.0000
241       3           1         0  29.699118      1      0   15.5000
54        1           0         1  65.000000      0      1   61.9792
616       3           0         1  34.000000      1      1   14.4000
675       3           0         1  18.000000      0      0    7.7750
173       3           0         1  21.000000      0      0    7.9250
2         3           1         0  26.000000      0      0    7.9250
201       3           0         1  29.699118      8      2   69.5500
872       1           0         1  33.000000      0      0    5.0000
726       2           1         0  30.000000      3      0   21.0000
167       3           1         0  45.000000      1      4   27.9000
535       2           1         0   7.000000      0      2   26.2500
614       3           0         1  35.000000      0      0    8.0500
67        3           0         1  19.000000      0      0    8.1583
823       3           1         0  27.000000      0      1   12.4750
848       2           0         1  28.000000      0      1   33.0000
193       2           0         1   3.000000      1      1   26.0000
394       3           1         0  24.000000      0      2   16.7000
292       2           0         1  36.000000      0      0   12.8750
785       3           0         1  25.000000      0      0    7.2500
871       1           1         0  47.000000      1      1   52.5542
807       3           1         0  18.000000      0      0    7.7750
295       1           0         1  29.699118      0      0   27.7208
179       3           0         1  36.000000      0      0    0.0000
646       3           0         1  19.000000      0      0    7.8958
523       1           1         0  44.000000      0      1   57.9792
325       1           1         0  36.000000      0      0  135.6333
370       1           0         1  25.000000      1      0   55.4417
351       1           0         1  29.699118      0      0   35.0000
544       1           0         1  50.000000      1      0  106.4250

[357 rows x 7 columns]

In [146]:
tar_test

     Survived
889         1
507         1
184         1
826         0
250         0
76          0
81          1
242         0
324         0
831         1
572         1
686         0
651         1
1           1
595         0
17          1
443         1
232         0
543         1
633         0
27          0
420         0
262         0
762         1
283         1
534         0
692         1
838         1
410         0
359         1
..        ...
123         1
241         1
54          0
616         0
675         0
173         0
2           1
201         0
872         0
726         1
167         0
535         1
614         0
67          0
823         1
848         0
193         1
394         1
292         0
785         0
871         1
807         0
295         0
179         0
646         0
523         1
325         1
370         1
351         0
544         0

[357 rows x 1 columns]

In [147]:
#%% Build a decision tree model
from sklearn.tree import DecisionTreeClassifier

In [148]:
#Build model on training data
classifier=DecisionTreeClassifier()
classifier=classifier.fit(pred_train,tar_train)

In [149]:
# apply decision tree model to get prediction for test data
predictions=classifier.predict(pred_test)

In [150]:
print (predictions)

[1 1 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 0 1 1 1 0 1 1 1 1 0 0 0 0
 1 0 0 0 0 0 0 1 1 1 0 1 0 0 1 0 1 1 1 0 1 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 1
 1 0 0 1 1 0 0 1 0 0 1 1 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 1 0 1 1
 0 0 0 1 0 0 0 1 1 1 1 0 1 0 0 1 0 1 0 1 0 1 0 0 1 0 0 1 0 0 1 0 1 0 0 1 0
 0 1 1 0 0 1 1 1 1 1 0 0 1 1 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0
 0 0 1 1 0 0 0 0 1 1 1 0 0 1 0 1 1 0 1 0 0 1 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0
 0 1 0 0 1 1 0 0 0 1 0 0 1 0 1 1 1 0 0 1 1 0 0 0 0 1 0 0 1 0 1 1 0 0 1 0 0
 0 1 0 1 0 0 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 0 1
 1 0 0 1 1 0 1 1 1 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 1 1 0 0 0 1 1 0 1 0 0
 0 0 0 1 0 1 0 0 0 0 1 1 0 0 1 1 0 0 0 1 1 1 1 0]

In [154]:
# Accuracy
accuracy = sklearn.metrics.accuracy_score(tar_test, predictions)
print ("Test Accuracy: %s" % accuracy)

Test Accuracy: 0.773109243697479